---
import Preloader from '../components/Preloader.astro';
import Layout from '../layouts/LayoutArsiconSyariah.astro';
import "../style/global.css";
import Navbar from "../components/Navbar.astro";
import UseNavbar from "../components/UseNavbar.astro";
import Footer from "../components/Footer.astro";
import UseNavbarArsiconSyariah from '../components/UseNavbarArsiconSyariah.astro';
---

<Layout 
  title="Arsicon | Arsicon Interior Design dan Kontraktor Syariah pertama di Indonesia"
  seo_description="Arsicon Interior Design dan Kontraktor Syariah pertama di Indonesia"
  seo_domain="https://arsicon.com"
  seo_title="Arsicon - Arsicon Interior Design dan Kontraktor Syariah pertama di Indonesia"
  seo_image="https://i.imghippo.com/files/OoZA1363FK.png"
>
  <!-- <Preloader /> -->

  <UseNavbarArsiconSyariah />

    <main>

      <section class="hero-area">
        <div class="hero-slider">
            <div class="single-slider slider-bg-1 d-flex align-items-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
                            <div class="hero-content text-center">
                                <h1 class="title-hero white-color mb-4">Arsicon Interior Design dan Kontraktor Syariah pertama di Indonesia</h1>
                                <h4 class="tagline-hero white-color mb-5">Membangun dengan Jujur, Amanah, <br> dan Profesionalisme</h4>
                                <!-- <p class="description-hero white-color mb-5">Contractor Syariah pertama di indonesia</p> -->
                                <div class="button-two" style="display: flex; gap: 15px; justify-content: center; align-items: center;">
                                    <a class="btn btn-rounded white-color">Contact Us</a>
                                    <a class="btn btn-filled">Get Started</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
      <!--==================================================-->
      <!-- Start feature-area -->
      <!--==================================================-->
    
      <div class="feature-area one">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-4 col-md-6">
              <div class="single-feature-box wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
                <div class="feature-content">
                  <h4>01</h4>
                  <h3>Amanah dan Jujur</h3>
                  <p>Pekerjaan dilakukan dengan transparan sesuai spesifikasi yang disepakati. Jujur dalam kualitas dan kuantitas, disertai laporan berkala kepada klien.</p>
                </div>
                <div class="feature-button">
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="single-feature-box wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                <div class="feature-content">
                  <h4>02</h4>
                  <h3>Transparansi                  </h3>
                  <p>Klien berhak tahu penggunaan dana dan progres proyek. Prinsip keadilan ditegakkan agar tidak ada pihak yang dirugikan.                  </p>
                </div>
                <div class="feature-button">
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="single-feature-box wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">
                <div class="feature-content">
                  <h4>03</h4>
                  <h3>Kualitas Terjamin & Biaya Lebih Murah</h3>
                  <p>Material dan metode sesuai kesepakatan tanpa pengurangan kualitas. Efisien dalam sumber daya agar biaya lebih hemat tanpa kompromi mutu.</p>
                </div>
                <div class="feature-button">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!--==================================================-->
      <!-- End feature-area -->
      <!--==================================================-->
    
    
      <!--==================================================-->
      <!-- Start about-area -->
      <!--==================================================-->
    
      <div class="about-area one">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-12">
              <div class="section-title">
                <div class="main-title">
                  <h1>About Us</h1>
                </div>
                <div class="sub-title">
                  <h2>Arsicon Contractor <span>Syariah</span></h2>
                </div>
              </div>
              <div class="about-shape dance">
                <img src="images/arsicon-syariah/border.png" alt="">
              </div>
              <div class="abouts-shapes bounce-animate2">
                <img src="images/arsicon-syariah/counter-shape.png" alt="">
              </div>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="single-about-left wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
                <div class="about-thumb">
                  <img src="/src/assets/porto/porto-1.jpg" alt="">
                </div>
                <div class="about-button">
                  <a href="/about">About Us</a>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="single-about-right wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">
                <div class="appoinment-tab">
                  <!-- / tab -->
                  <div class="tab">
                    <!-- / tabs -->
                    <ul class="tabs active">
                      <li><a href="">MISSION </a></li>
                      <li><a href="">VISSION</a></li>
                    </ul> 
                    <div class="tab_content">
                      <!-- / tabs_item -->
                      <div class="tabs_item">
                        <!-- post comment -->
                        <div class="post-comment-description">
                          <p class="white-color">Menjadi kontraktor syariah pertama di Indonesia yang
                            terpercaya. Yang mengedepankan transparansi, keadilan, dan
                            kualitas dalam setiap layanan konstruksi, sehingga memberikan
                            kepuasan maksimal bagi para mitra dan pihak-pihak yang bekerja
                            sama</p>
                        </div>
                        <!-- <div class="tab-thumb">
                          <img src="images/arsicon-syariah/about-1.jpg" alt="">
                        </div>
                        <div class="tab-title">
                          <h3>Design Make Dream</h3>
                          <p>Rapidiously evolve pandemic experiences and Dramatically administrate</p>
                        </div>
                        <div class="post-comment-description pt-3">
                          <p>Rapidiously evolve pandemic experiences and end-to-end platforms. don Dramatically administrate inexpensive users with integrated experiences Collaboratively redefine cutting-edge infrastructures whereas open main convergence energistically simplify discover.</p>
                        </div> -->
                      </div> 
                      <!-- / tabs_item -->
                      <div class="tabs_item">
                        <!-- post comment -->
                        <div class="post-comment-description">
                         <ul>
                            <ol>
                              <a href="" class="white-color mb-1">Mewujudkan transparansi dan akuntabilitas dalam setiap
                              transaksi keuangan, sesuai dengan tagline "Bayar yang Anda
                              terima, bayar yang terpasang”</a>
                            </ol>
                            <ol>
                              <a href="" class="white-color mb-1">Mewujudkan transparansi dan akuntabilitas dalam setiap
                              transaksi keuangan, sesuai dengan tagline "Bayar yang Anda
                              terima, bayar yang terpasang”</a>
                            </ol>
                            <ol>
                              <a href="" class="white-color">Mewujudkan transparansi dan akuntabilitas dalam setiap
                              transaksi keuangan, sesuai dengan tagline "Bayar yang Anda
                              terima, bayar yang terpasang”</a>
                            </ol>
                         </ul>
                        </div>
                      </div> 
                    </div> <!-- / tab_content -->
                  </div> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!--==================================================-->
      <!-- End about-area -->
      <!--==================================================-->
    
    
      <!--==================================================-->
      <!-- Start counter area -->
      <!--==================================================-->
    
      <!-- <div class="counter-area one">
        <div class="container">
          <div class="row bg-col align-items-center">
            <div class="col-lg-3 col-md-6">
              <div class="counter-single-item-inner wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                <div class="counter-content">
                  <div class="counter-text">
                    <h1><span class="counter">120</span>+</h1>
                    <span></span>
                    <div class="counter-title">
                      <h4>ALL WORKS</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="counter-single-item-inner upper">
                <div class="counter-content">
                  <div class="counter-text">
                    <h1><span class="counter">70</span></h1>
                    <span></span>
                    <div class="counter-title">
                      <h4>ENGINEERS</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="counter-single-item-inner wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                <div class="counter-content">
                  <div class="counter-text">
                    <h1><span class="counter">105</span>K</h1>
                    <span></span>
                    <div class="counter-title">
                      <h4>CUSTOMERS</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="counter-single-item-inner upper">
                <div class="counter-content">
                  <div class="counter-text">
                    <h1><span class="counter">50</span>+</h1>
                    <span></span>
                    <div class="counter-title">
                      <h4>AWARDS WIN</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="conun-shap bounce-animate3">
              <img src="images/arsicon-syariah/counter-shape.png" alt="">
            </div>
            <div class="conunt-shape bounce-animate2">
              <img src="images/arsicon-syariah/counter-shap.png" alt="">
            </div>
          </div>
        </div>	
      </div> -->
    
      <!--==================================================-->
      <!-- End counter area -->
      <!--==================================================-->
    
      <!-- <div class="service-area one">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-12">
              <div class="section-title">
                <div class="main-title">
                  <h1>Services</h1>
                </div>
                <div class="sub-title">
                  <h2>See Our Best <span>Services</span></h2>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="single-service-box wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
                <div class="row">
                  <div class="col-lg-5">
                    <div class="service-inner-box upper">
                      <div class="service-content">
                        <div class="service-title">
                          <h3><span>01.</span>  Architecture Design</h3>
                        </div>
                      </div>
                      <div class="service-thumb">
                        <img src="images/arsicon-syariah/service-1.jpg" alt="">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-5">
                    <div class="service-inner-box">
                      <div class="service-content">
                        <div class="service-description">
                          <p>Rapidiously evolve pandemic experiences and end-to-end Dramatically administrate inexpensive</p>
                          <div class="icon-list">
                            <ul>
                              <li><i class="bi bi-check-lg"></i> Building Plans Design</li>
                              <li><i class="bi bi-check-lg"></i> Soil Testing and Solderings</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <div class="service-inner-box">
                      <div class="service-content">
                        <div class="service-button">
                          <a href="https://html.ditsolution.net/arcke/?storefront=envato-elements#">View Details</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="single-service-box wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">
                <div class="row">
                  <div class="col-lg-5">
                    <div class="service-inner-box upper">
                      <div class="service-content">
                        <div class="service-title">
                          <h3><span>02.</span>  Interior Designing</h3>
                        </div>
                      </div>
                      <div class="service-thumb">
                        <img src="images/arsicon-syariah/service-2.jpg" alt="">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-5">
                    <div class="service-inner-box">
                      <div class="service-content">
                        <div class="service-description">
                          <p>Rapidiously evolve pandemic experiences and end-to-end Dramatically administrate inexpensive</p>
                          <div class="icon-list">
                            <ul>
                              <li><i class="bi bi-check-lg"></i> Building Plans Design</li>
                              <li><i class="bi bi-check-lg"></i> Soil Testing and Solderings</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <div class="service-inner-box">
                      <div class="service-content">
                        <div class="service-button">
                          <a href="https://html.ditsolution.net/arcke/?storefront=envato-elements#">View Details</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="single-service-box wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
                <div class="row">
                  <div class="col-lg-5">
                    <div class="service-inner-box upper">
                      <div class="service-content">
                        <div class="service-title">
                          <h3><span>03.</span>  Urban Design</h3>
                        </div>
                      </div>
                      <div class="service-thumb">
                        <img src="images/arsicon-syariah/service-3.jpg" alt="">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-5">
                    <div class="service-inner-box">
                      <div class="service-content">
                        <div class="service-description">
                          <p>Rapidiously evolve pandemic experiences and end-to-end Dramatically administrate inexpensive</p>
                          <div class="icon-list">
                            <ul>
                              <li><i class="bi bi-check-lg"></i> Building Plans Design</li>
                              <li><i class="bi bi-check-lg"></i> Soil Testing and Solderings</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <div class="service-inner-box">
                      <div class="service-content">
                        <div class="service-button">
                          <a href="https://html.ditsolution.net/arcke/?storefront=envato-elements#">View Details</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      
      <!--==================================================-->
      <!-- End service-area -->
      <!--==================================================-->
    
    
    
      <!--==================================================-->
      <!-- Start project-area -->
      <!--==================================================-->
    
      <div class="project-area one">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-12">
              <div class="section-title pb-3">
                <div class="main-title">
                  <h1>Works</h1>
                </div>
                <div class="sub-title">
                  <h2>Latest <span>Works</span></h2>
                </div>
              </div>
              <div class="project-shap bounce-animate3">
                <img src="images/arsicon-syariah/counter-shape.png" alt="">
              </div>
              <div class="project-shape bounce-animate2">
                <img src="images/arsicon-syariah/counter-shap.png" alt="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8">
              <div class="single-project-box">
                <div class="project-thumb">
                  <img src="images/arsicon-syariah/project-1.jpg" alt="">
                </div>
                <!-- <div class="project-content">
                  <h4>ARCHITECTURE</h4>
                  <h3>Luxury Modern <br> Building Sandigo <br> USA</h3>
                  <div class="project-button">
                    <a href="/about">View Details</a>
                  </div>
                </div> -->
              </div>
            </div>
            <div class="col-lg-4">
              <div class="row">
                <div class="col-lg-12">
                  <div class="single-project-box upper">
                    <div class="project-thumb upper">
                      <img src="images/arsicon-syariah/project-2.jpg" alt="">
                    </div>
                    <!-- <div class="project-content">
                      <h4>ARCHITECTURE</h4>
                      <h3>Luxury Modern USA</h3>
                      <div class="project-button">
                        <a href="https://html.ditsolution.net/arcke/portfolio-details.html">View Details</a>
                      </div>
                    </div> -->
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="single-project-box upper">
                    <div class="project-thumb upper">
                      <img src="images/arsicon-syariah/project-3.jpg" alt="">
                    </div>
                    <!-- <div class="project-content">
                  <h4>ARCHITECTURE</h4>
                  <h3>Luxury Modern USA</h3>
                  <div class="project-button">
                    <a href="https://html.ditsolution.net/arcke/portfolio-details.html">View Details</a>
                  </div>
                </div> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="single-project-box">
                <div class="project-thumb">
                  <img src="images/arsicon-syariah/project-4.jpg" alt="">
                </div>
                <div class="project-content style-one">
                  <h4>ARCHITECTURE</h4>
                  <h3>Luxury Modern <br> Building Sandigo <br> USA</h3>
                  <div class="project-button">
                    <a href="https://html.ditsolution.net/arcke/portfolio-details.html">View Details</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="single-project-box">
                <div class="project-thumb">
                  <img src="images/arsicon-syariah/project-5.jpg" alt="">
                </div>
                <!-- <div class="project-content">
                  <h4>ARCHITECTURE</h4>
                  <h3>Luxury Modern <br> Building Sandigo <br> USA</h3>
                  <div class="project-button">
                    <a href="https://html.ditsolution.net/arcke/portfolio-details.html">View Details</a>
                  </div>
                </div> -->
              </div>
            </div>
            <div class="col-lg-4">
              <div class="single-project-box">
                <div class="project-thumb">
                  <img src="images/arsicon-syariah/project-6.jpg" alt="">
                </div>
                <!-- <div class="project-content style-one">
                  <h4>ARCHITECTURE</h4>
                  <h3>Luxury Modern <br> Building Sandigo <br> USA</h3>
                  <div class="project-button">
                    <a href="https://html.ditsolution.net/arcke/portfolio-details.html">View Details</a>
                  </div>
                </div> -->
              </div>
            </div>
            <div class="col-lg-4">
              <div class="single-project-box">
                <div class="project-thumb">
                  <img src="images/arsicon-syariah/project-7.jpg" alt="">
                </div>
                <!-- <div class="project-content style-one">
                  <h4>ARCHITECTURE</h4>
                  <h3>Luxury Modern <br> Building Sandigo <br> USA</h3>
                  <div class="project-button">
                    <a href="https://html.ditsolution.net/arcke/portfolio-details.html">View Details</a>
                  </div>
                </div> -->
              </div>
            </div>
            <div class="col-lg-4">
              <div class="single-project-box">
                <div class="project-thumb">
                  <img src="images/arsicon-syariah/project-8.jpg" alt="">
                </div>
                <!-- <div class="project-content style-one">
                  <h4>ARCHITECTURE</h4>
                  <h3>Luxury Modern <br> Building Sandigo <br> USA</h3>
                  <div class="project-button">
                    <a href="https://html.ditsolution.net/arcke/portfolio-details.html">View Details</a>
                  </div>
                </div> -->
              </div>
            </div>
            <!-- <div class="projects-btn">
              <a href="https://html.ditsolution.net/arcke/portfolio-details.html">Load More</a>
            </div> -->
          </div>
        </div>
      </div>
      
      <!--==================================================-->
      <!-- End project-area -->
      <!--==================================================-->
    
    
    
      <!--==================================================-->
      <!-- Start team-area -->
      <!--==================================================-->
    
      <!-- <div class="team-area one">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-12">
              <div class="section-title">
                <div class="main-title">
                  <h1>ENGINEERS</h1>
                </div>
                <div class="sub-title">
                  <h2>Arcke’s Expert <span>Engineers</span></h2>
                </div>
              </div>
              <div class="team-shap bounce-animate3">
                <img src="images/arsicon-syariah/counter-shape.png" alt="">
              </div>
              <div class="team-shape bounce-animate2">
                <img src="images/arsicon-syariah/counter-shap.png" alt="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="single-team-box wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
                <div class="team-thumb">
                  <img src="images/arsicon-syariah/team-1.jpg" alt="">
                </div>
                <div class="team-content">
                  <h3>Moris Barbar</h3>
                  <span>engineer</span>
                  <div class="team-icon-list">
                    <ul>
                      <li><a href="https://html.ditsolution.net/arcke/?storefront=envato-elements#"> <i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="https://html.ditsolution.net/arcke/?storefront=envato-elements#"> <i class="fab fa-twitter"> </i> </a></li>
                      <li><a href="https://html.ditsolution.net/arcke/?storefront=envato-elements#"> <i class="fab fa-linkedin-in"></i></a></li>
                      <li><a href="https://html.ditsolution.net/arcke/?storefront=envato-elements#"> <i class="fab fa-pinterest-p"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="single-team-box wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                <div class="team-thumb">
                  <img src="images/arsicon-syariah/team-2.jpg" alt="">
                </div>
                <div class="team-content">
                  <h3>Moris Barbar</h3>
                  <span>engineer</span>
                  <div class="team-icon-list">
                    <ul>
                      <li><a href="https://html.ditsolution.net/arcke/?storefront=envato-elements#"> <i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="https://html.ditsolution.net/arcke/?storefront=envato-elements#"> <i class="fab fa-twitter"> </i> </a></li>
                      <li><a href="https://html.ditsolution.net/arcke/?storefront=envato-elements#"> <i class="fab fa-linkedin-in"></i></a></li>
                      <li><a href="https://html.ditsolution.net/arcke/?storefront=envato-elements#"> <i class="fab fa-pinterest-p"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="single-team-box wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">
                <div class="team-thumb">
                  <img src="images/arsicon-syariah/team-3.jpg" alt="">
                </div>
                <div class="team-content">
                  <h3>Moris Barbar</h3>
                  <span>engineer</span>
                  <div class="team-icon-list">
                    <ul>
                      <li><a href="https://html.ditsolution.net/arcke/?storefront=envato-elements#"> <i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="https://html.ditsolution.net/arcke/?storefront=envato-elements#"> <i class="fab fa-twitter"> </i> </a></li>
                      <li><a href="https://html.ditsolution.net/arcke/?storefront=envato-elements#"> <i class="fab fa-linkedin-in"></i></a></li>
                      <li><a href="https://html.ditsolution.net/arcke/?storefront=envato-elements#"> <i class="fab fa-pinterest-p"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      
      <!--==================================================-->
      <!-- End team-area -->
      <!--==================================================-->

    
      <!--==================================================-->
      <!-- Start blog-area -->
      <!--==================================================-->
    
      <!-- <div class="blog-area one">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-12">
              <div class="section-title pb-3">
                <div class="main-title">
                  <h1>BLOG POST</h1>
                </div>
                <div class="sub-title">
                  <h2>Arcke’s Latest <span>Blog Post</span></h2>
                </div>
              </div>
              <div class="blog-shap bounce-animate3">
                <img src="images/arsicon-syariah/counter-shape.png" alt="">
              </div>
              <div class="blog-shape bounce-animate2">
                <img src="images/arsicon-syariah/counter-shap.png" alt="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="single-blog-box wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
                <div class="blog-thumb">
                  <img src="images/arsicon-syariah/blog-1.jpg" alt="">
                </div>
                <div class="blog-title">
                  <h4>August 10, 2024 <span>Interior</span></h4>
                  <h3><a href="https://html.ditsolution.net/arcke/blog-details.html">Top 10 Modern Building Design in Califronia, USA</a></h3>
                </div>
                <div class="blog-button">
                  <a href="https://html.ditsolution.net/arcke/blog-details.html">View Details</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="single-blog-box wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                <div class="blog-thumb">
                  <img src="images/arsicon-syariah/blog-2.jpg" alt="">
                </div>
                <div class="blog-title">
                  <h4>August 10, 2024 <span>Interior</span></h4>
                  <h3><a href="https://html.ditsolution.net/arcke/blog-details.html">Best Equipment for Architecture and Interior Design</a></h3>
                </div>
                <div class="blog-button">
                  <a href="https://html.ditsolution.net/arcke/blog-details.html">View Details</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="single-blog-box wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">
                <div class="blog-thumb">
                  <img src="images/arsicon-syariah/blog-3.jpg" alt="">
                </div>
                <div class="blog-title">
                  <h4>August 10, 2024 <span>Interior</span></h4>
                  <h3><a href="https://html.ditsolution.net/arcke/blog-details.html">5 Awesome and Beautiful House in Dhaka, Bangladesh</a></h3>
                </div>
                <div class="blog-button">
                  <a href="https://html.ditsolution.net/arcke/blog-details.html">View Details</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      
      <!--==================================================-->
      <!-- End blog-area -->
      <!--==================================================-->

    </main>
    <Footer />
</Layout>
