---
import Preloader from '../components/Preloader.astro';
import Layout from '../layouts/Layout.astro';
import "../style/global.css";
import Navbar from "../components/Navbar.astro";
import UseNavbar from "../components/UseNavbar.astro";
import Footer from "../components/Footer.astro";

// import WorkingProcess from "./section/WorkingProcess.astro";
// import About from './section/About.astro';
// import Services from './section/Services.astro';
// import Price from './section/Price.astro';
// import CTA from './section/CTA.astro';
// import Footer from './section/Footer.astro';

---

<Layout 
  title="Arsicon | Arsicon Interior Design dan Kontraktor Syariah pertama di Indonesia"
  seo_description="Arsicon Interior Design dan Kontraktor Syariah pertama di Indonesia"
  seo_domain="https://arsicon.com"
  seo_title="Arsicon - Arsicon Interior Design dan Kontraktor Syariah pertama di Indonesia"
  seo_image="https://i.imghippo.com/files/OoZA1363FK.png"
  seo_keyword="arsicon, interior design, kontraktor syariah, arsicon interior design, arsicon kontraktor syariah"
>
  <!-- <Preloader /> -->

  <UseNavbar />

    <main>

        <section id="arsicon-interior-section" style="margin-top: 60px; margin-bottom: 60px;">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-10 col-sm-12">
                        <div class="section-title text-center mb-5">
                            <h2 class="title-section black-color">Layanan Kami</h2>
                            <p class="description-section black-color">Tim kami hadir untuk menghadirkan solusi yang tepat sasaran dan memudahkan hidup Anda. Temukan bagaimana kami bisa mendukung langkah Anda dan mewujudkan setiap impian menjadi nyata.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="card-service">
                            <div class="card-service-image">
                                <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1006,h=528,fit=crop/A1aJePezkpfD2jEO/whatsapp-image-2024-07-13-at-00.57.40-YbN9bJgeZ3TD7J2J.jpeg" alt="arsicon interior design" class="img-fluid" />
                            </div>
                            <div class="card-service-content">
                                <h4 class="title mb-2">Interior Design & Build</h4>
                                <div class="list-service">
                                    <ul>
                                        <li><a href="" class="flex"><i class="bi bi-check-circle-fill mr-1"></i>Residential Interior & Furniture Design</a></li>
                                        <li><a href="" class="flex"><i class="bi bi-check-circle-fill mr-1"></i>Office Interior & Furniture Design</a></li>
                                        <li><a href="" class="flex"><i class="bi bi-check-circle-fill mr-1"></i>Interior & Furniture Design for Public Spaces (cafés, restaurants, apartments, hotels, etc.)</a></li>
                                        <li><a href="" class="flex"><i class="bi bi-check-circle-fill mr-1"></i>Interior for special</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="card-service">
                            <div class="card-service-image">
                                <img src="images/porto/porto-1.jpg" alt="arsicon interior design" class="img-fluid" />
                            </div>
                            <div class="card-service-content">
                                <h4 class="title mb-2">Architectural Design</h4>
                                <div class="list-service">
                                    <ul>
                                        <li><a href="" class="flex"><i class="bi bi-check-circle-fill mr-1"></i>Residential Architecture Design                                        </a></li>
                                        <li><a href="" class="flex"><i class="bi bi-check-circle-fill mr-1"></i>Architecture Design for Public Spaces (cafés, restaurants, apartments, hotels, etc.)</a></li>
                                        <li><a href="" class="flex"><i class="bi bi-check-circle-fill mr-1"></i>Office Architecture Design</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="card-service">
                            <div class="card-service-image">
                                <img src="images/porto/porto-4.jpg" alt="arsicon interior design" class="img-fluid" />
                            </div>
                            <div class="card-service-content">
                                <h4 class="title mb-2">Construction</h4>
                                <div class="list-service">
                                    <ul>
                                        <li><a href="" class="flex"><i class="bi bi-check-circle-fill mr-1"></i>Residential Construction Contractor</a></li>
                                        <li><a href="" class="flex"><i class="bi bi-check-circle-fill mr-1"></i>Construction Contractor for Public Spaces (cafés, restaurants, apartments, hotels, etc.)</a></li>
                                        <li><a href="" class="flex"><i class="bi bi-check-circle-fill mr-1"></i>Office Architecture Construction Contractor</a></li>
                                        <li><a href="" class="flex"><i class="bi bi-check-circle-fill mr-1"></i>Residential Interior & Furniture Contractor</a></li>
                                        <li><a href="" class="flex"><i class="bi bi-check-circle-fill mr-1"></i>Interior & Furniture Contractor for Public Spaces (cafés, restaurants, apartments, hotels, etc.)</a></li>
                                        <li><a href="" class="flex"><i class="bi bi-check-circle-fill mr-1"></i>Office Interior & Furniture Contractor</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="card-service">
                            <div class="card-service-image">
                                <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1006,h=528,fit=crop,trim=579.4336810730254;0;391.0581222056632;0/A1aJePezkpfD2jEO/img-20240720-wa0113-dJo4zXyNQ6cJjDO5.jpg" alt="arsicon interior design" class="img-fluid" />
                            </div>
                            <div class="card-service-content">
                                <h4 class="title mb-2">MEP</h4>
                                <div class="list-service">
                                    <ul>
                                        <li><a href="" class="flex"><i class="bi bi-check-circle-fill mr-1"></i>Engineering Management (Civil & Interior Consulting)</a></li>
                                        <li><a href="" class="flex"><i class="bi bi-check-circle-fill mr-1"></i>Engineering Planning (Cost Estimates, Schedules, Work Methods, Material Boards)</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



    </main>
    <Footer />
</Layout>
