---
import Preloader from '../components/Preloader.astro';
import Layout from '../layouts/Layout.astro';
import "../style/global.css";
import Navbar from "../components/Navbar.astro";
import UseNavbar from "../components/UseNavbar.astro";
import Footer from "../components/Footer.astro";

// import WorkingProcess from "./section/WorkingProcess.astro";
// import About from './section/About.astro';
// import Services from './section/Services.astro';
// import Price from './section/Price.astro';
// import CTA from './section/CTA.astro';
// import Footer from './section/Footer.astro';

---

<Layout 
  title="Arsicon | Arsicon Interior Design dan Kontraktor Syariah pertama di Indonesia"
  seo_description="Arsicon Interior Design dan Kontraktor Syariah pertama di Indonesia"
  seo_domain="https://arsicon.com"
  seo_title="Arsicon - Arsicon Interior Design dan Kontraktor Syariah pertama di Indonesia"
  seo_image="https://i.imghippo.com/files/OoZA1363FK.png"
  seo_keyword="arsicon, interior design, kontraktor syariah, arsicon interior design, arsicon kontraktor syariah"
>
  <!-- <Preloader /> -->

  <UseNavbar />

    <main>

        <section id="arsicon-interior-section" style="margin-top: 60px; margin-bottom: 60px;">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-10 col-sm-12">
                        <div class="section-title text-center mb-5">
                            <h2 class="title-section black-color">Contact Us</h2>
                            <p class="description-section black-color">Contact us for further details on the interior, architectural, and construction services we provide.                            </p>
                        </div>
                        <div class="info text-center mb-4">
                            <div class="">
                                <h3 class="black-color">No. WA/Telepon</h3>
                                <p>+62 85777 3333 05</p>
                            </div>
                            <div class="">
                                <h3 class="black-color">Email</h3>
                                <p>arsicon.ars@gmail.com</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form">
                            <form action="">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="name" placeholder="Enter your name">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" placeholder="Enter your email">
                                </div>
                                <div class="form-group">
                                    <label for="phone">Message</label>
                                    <textarea cols="4" class="form-control" id="phone" placeholder="Enter your phone number">  </textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Send</button>
                                </div>  
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center">
                    
                </div>
            </div>
        </section>
    </main>
    <Footer />
</Layout>
