---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/sections/Navbar.astro';
import Hero from '../components/sections/Hero.astro';
import Features from '../components/sections/Feature.astro';
import Process from '../components/sections/Process.astro';
import Pricing from '../components/sections/Pricing.astro';
import FAQ from '../components/sections/FAQ.astro';
import CTA from '../components/sections/CTA.astro';
import Footer from '../components/sections/Footer.astro';
import "../style/global.css";

---

<Layout 
title="Rinkweb| Digital Service"
seo_description="Rinkweb adalah penyedia digital service yang bergerak dibidang pembuatan website"
seo_domain="https://rinkweb.id"
seo_title="Rinkweb - Digital Service"
seo_image='https://i.imghippo.com/files/BUH9768T.png'
>
  <Navbar />
  <main>
    <Hero />
    <Features />
    <Process />
    <Pricing />
    <FAQ />
    <CTA />
  </main>
  <Footer />
</Layout>
