---
import Preloader from '../components/Preloader.astro';
import Layout from '../layouts/Layout.astro';
import "../style/global.css";
import Navbar from "../components/Navbar.astro";
import UseNavbar from "../components/UseNavbar.astro";
import Footer from "../components/Footer.astro";

// import WorkingProcess from "./section/WorkingProcess.astro";
// import About from './section/About.astro';
// import Services from './section/Services.astro';
// import Price from './section/Price.astro';
// import CTA from './section/CTA.astro';
// import Footer from './section/Footer.astro';

---

<Layout 
  title="Arsicon | Arsicon Interior Design dan Kontraktor Syariah pertama di Indonesia"
  seo_description="Arsicon Interior Design dan Kontraktor Syariah pertama di Indonesia"
  seo_domain="https://arsicon.com"
  seo_title="Arsicon - Arsicon Interior Design dan Kontraktor Syariah pertama di Indonesia"
  seo_image="https://i.imghippo.com/files/OoZA1363FK.png"
>
  <!-- <Preloader /> -->

  <UseNavbar />

    <main>

        <section class="hero-area">
            <div class="hero-slider">
                <div class="single-slider slider-bg-1 d-flex align-items-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8 col-md-10 col-sm-12">
                                <div class="hero-content text-center">
                                    <h1 class="title-hero white-color mb-4">Arsicon Interior Design dan Kontraktor Syariah pertama di Indonesia</h1>
                                    <h4 class="tagline-hero white-color mb-5">Membangun dengan Jujur, Amanah, <br> dan Profesionalisme</h4>
                                    <!-- <p class="description-hero white-color mb-5">Contractor Syariah pertama di indonesia</p> -->
                                    <div class="button-two" style="display: flex; gap: 15px; justify-content: center; align-items: center;">
                                        <a class="btn btn-rounded white-color">Contact Us</a>
                                        <a class="btn btn-filled">Get Started</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="our-services" class="padding-section">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-10 col-sm-12">
                        <div class="section-title text-center mb-5">
                            <h2 class="title-section black-color">Our Services</h2>
                            <p class="description-section black-color">Arsicon brings over 6 years of expertise in interior design, 
                                <br>architecture, and construction.</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="service-image flex justify-content-center">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="single-service text-center mb-4">
                                <div class="service-icon">
                                    <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1006,h=720,fit=crop/A1aJePezkpfD2jEO/a_living_room_inspired_by_japanese_style_with_a_tea_ceremony_set_and_ikebana_flowers.-m6LJ8bV2r7ieRV8l.webp" alt="Service Icon" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="single-service text-center mb-4">
                                <div class="service-icon">
                                    <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1006,h=720,fit=crop/A1aJePezkpfD2jEO/a_living_room_inspired_by_japanese_style_with_a_tea_ceremony_set_and_ikebana_flowers.-m6LJ8bV2r7ieRV8l.webp" alt="Service Icon" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="service-description">
                        <h2 class="medium-title">Interior Design & Build</h2>
                        <p class="medium-description">With our distinctive modern classic and natural design approach, we are dedicated to fulfilling your vision of the perfect space.                        </p>
                    </div>
                    
                </div>
        </section>

        <section id="our-services" class="" style="padding: 20px 0;">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="service-image flex justify-content-center">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="single-service text-center mb-4">
                                <div class="service-icon">
                                    <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1006,h=720,fit=crop/A1aJePezkpfD2jEO/a_living_room_inspired_by_japanese_style_with_a_tea_ceremony_set_and_ikebana_flowers.-m6LJ8bV2r7ieRV8l.webp" alt="Service Icon" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="single-service text-center mb-4">
                                <div class="service-icon">
                                    <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1006,h=720,fit=crop/A1aJePezkpfD2jEO/a_living_room_inspired_by_japanese_style_with_a_tea_ceremony_set_and_ikebana_flowers.-m6LJ8bV2r7ieRV8l.webp" alt="Service Icon" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="service-description">
                        <h2 class="medium-title">Architecture & Construction</h2>
                        <p class="medium-description">Experienced in varied residential and commercial architectural and construction projects.                        </p>
                    </div>
                    
                </div>
        </section>


        <section class="padding-section">
            <div class="container-fluid image-slide">
                <div class="row justify-content-center ">
                    <div class="col-lg-8 col-md-10 col-sm-12">
                        <div class="section-title text-center mb-5">
                            <h2 class="title-section black-color mb-2">Our Clients</h2>
                            <h2 class="medium-title mb-5">Personal Clients</h2>
                            <p class="description-section black-color">Arsicon also specializes in personalized residential interior design and construction services for individual clients                        </p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="single-service text-center mb-4">
                            <div class="service-icon h-potrait">
                                <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1006,h=720,fit=crop/A1aJePezkpfD2jEO/a_living_room_inspired_by_japanese_style_with_a_tea_ceremony_set_and_ikebana_flowers.-m6LJ8bV2r7ieRV8l.webp" alt="Service Icon" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="single-service text-center mb-4">
                            <div class="service-icon h-potrait">
                                <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1006,h=720,fit=crop/A1aJePezkpfD2jEO/a_living_room_inspired_by_japanese_style_with_a_tea_ceremony_set_and_ikebana_flowers.-m6LJ8bV2r7ieRV8l.webp" alt="Service Icon" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="single-service text-center mb-4">
                            <div class="service-icon h-potrait">
                                <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1006,h=720,fit=crop/A1aJePezkpfD2jEO/a_living_room_inspired_by_japanese_style_with_a_tea_ceremony_set_and_ikebana_flowers.-m6LJ8bV2r7ieRV8l.webp" alt="Service Icon" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="single-service text-center mb-4">
                            <div class="service-icon h-potrait">
                                <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1006,h=720,fit=crop/A1aJePezkpfD2jEO/a_living_room_inspired_by_japanese_style_with_a_tea_ceremony_set_and_ikebana_flowers.-m6LJ8bV2r7ieRV8l.webp" alt="Service Icon" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="padding-section">
            <div class="container-fluid institutional-slide">
                <div class="row justify-content-center ">
                    <div class="col-lg-8 col-md-10 col-sm-12">
                        <div class="section-title text-center mb-5">
                            <h2 class="medium-title mb-4">Corporate & Institutional Clients</h2>
                            <p class="description-section black-color">Drawing from our extensive experience, we excel in building offices, apartments, hotels, restaurants, and other specialized projects for corporate and institutional clients.</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="single-service text-center mb-4">
                            <div class="service-icon h-potrait">
                                <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1006,h=720,fit=crop/A1aJePezkpfD2jEO/a_living_room_inspired_by_japanese_style_with_a_tea_ceremony_set_and_ikebana_flowers.-m6LJ8bV2r7ieRV8l.webp" alt="Service Icon" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="single-service text-center mb-4">
                            <div class="service-icon h-potrait">
                                <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1006,h=720,fit=crop/A1aJePezkpfD2jEO/a_living_room_inspired_by_japanese_style_with_a_tea_ceremony_set_and_ikebana_flowers.-m6LJ8bV2r7ieRV8l.webp" alt="Service Icon" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="single-service text-center mb-4">
                            <div class="service-icon h-potrait">
                                <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1006,h=720,fit=crop/A1aJePezkpfD2jEO/a_living_room_inspired_by_japanese_style_with_a_tea_ceremony_set_and_ikebana_flowers.-m6LJ8bV2r7ieRV8l.webp" alt="Service Icon" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
    <Footer />
</Layout>
