---
import Layout from '../layouts/Layout.astro';
import "../style/global.css";
import UseNavbar from "../components/UseNavbar.astro";
import Footer from "../components/Footer.astro";
---

<Layout 
  title="Arsicon | Arsicon Interior Design dan Kontraktor Syariah pertama di Indonesia"
  seo_description="Arsicon Interior Design dan Kontraktor Syariah pertama di Indonesia"
  seo_domain="https://arsicon.com"
  seo_title="Arsicon - Arsicon Interior Design dan Kontraktor Syariah pertama di Indonesia"
  seo_image="https://i.imghippo.com/files/OoZA1363FK.png"
  seo_keyword="arsicon, interior design, kontraktor syariah, interior design syariah, kontraktor syariah indonesia, arsicon interior design, arsicon kontraktor syariah"
>

  <UseNavbar />

    <main>

        <section class="hero-area">
            <div class="hero-slider">
                <div class="single-slider slider-bg-1 d-flex align-items-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
                                <div class="hero-content text-center">
                                    <h1 class="title-hero white-color mb-4">Arsicon Interior  dan Kontraktor Syariah pertama di Indonesia</h1>
                                    <h4 class="tagline-hero white-color mb-5">Membangun dengan Jujur, Amanah, <br> dan Profesionalisme</h4>
                                    <!-- <p class="description-hero white-color mb-5">Contractor Syariah pertama di indonesia</p> -->
                                    <div class="button-two" style="display: flex; gap: 15px; justify-content: center; align-items: center;">
                                        <a class="btn btn-rounded white-color">Hubungi Kami</a>
                                        <a class="btn btn-filled">Mulai Sekarang</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="our-services" class="padding-section">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
                        <div class="section-title text-center mb-5">
                            <h2 class="title-section black-color">Our Services</h2>
                            <p class="description-section black-color">Dengan pengalaman lebih dari 6 tahun, Arsicon menghadirkan keahlian di bidang desain interior, arsitektur, <br>dan konstruksi untuk menciptakan ruang yang penuh karakter dan fungsi</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="row service-image flex justify-content-center">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-xs-12">
                            <div class="single-service text-center mb-4">
                                <div class="service-icon">
                                    <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1006,h=720,fit=crop/A1aJePezkpfD2jEO/a_living_room_inspired_by_japanese_style_with_a_tea_ceremony_set_and_ikebana_flowers.-m6LJ8bV2r7ieRV8l.webp" alt="Service Icon" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-xs-12">
                            <div class="single-service text-center mb-4">
                                <div class="service-icon">
                                    <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1006,h=720,fit=crop/A1aJePezkpfD2jEO/a-white-sofa-set-complements-the-classical-beauty-of-this-modern-living-room-A1aJe5Vzzji55eor.jpg" alt="Service Icon" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="service-description">
                        <h2 class="medium-title">Interior & Build</h2>
                        <p class="medium-description">Wujudkan ruang impian Anda bersama kami, kdengan sentuhan desain modern klasik yang elegan dan nuansa alami yang menenangkan</p>
                    </div>
                    
                </div>
        </section>

        <section id="our-services" class="" style="padding: 20px 0;">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="row service-image flex justify-content-center">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-xs-12">
                            <div class="single-service text-center mb-4">
                                <div class="service-icon">
                                    <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1006,h=720,fit=crop/A1aJePezkpfD2jEO/jardins-house-1-644x429-A3QJB3VPq0SN42Na.jpg" alt="Service Icon" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-xs-12">
                            <div class="single-service text-center mb-4">
                                <div class="service-icon">
                                    <img src="images/porto/porto-4.jpg" alt="Service Icon" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="service-description">
                        <h2 class="medium-title">Architecture & Construction</h2>
                        <p class="medium-description">Berpengalaman dalam berbagai proyek arsitektur dan konstruksi, mulai dari hunian pribadi hingga bangunan komersial—kami siap mewujudkan karya terbaik untuk setiap kebutuhan Anda</p>
                    </div>
                    
                </div>
        </section>


        <section class="padding-section">
            <div class="container-fluid image-slide">
                <div class="row justify-content-center ">
                    <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
                        <div class="section-title text-center mb-5">
                            <h2 class="title-section black-color mb-2">Our Clients</h2>
                            <h2 class="medium-title mb-5">Personal Clients</h2>
                            <p class="description-section black-color">Arsicon juga menghadirkan layanan desain interior dan konstruksi hunian yang dipersonalisasi, dirancang khusus untuk mencerminkan gaya dan kebutuhan pribadi Anda.</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <div class="single-service text-center mb-4">
                            <div class="service-icon h-potrait">
                                <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=594,h=852,fit=crop,trim=211.4331983805668;145.1644204851752;237.86234817813764;343.11590296495956/A1aJePezkpfD2jEO/img_20230220_150913-mP4QXlxWOqI46BW8.jpg" alt="Service Icon" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <div class="single-service text-center mb-4">
                            <div class="service-icon h-potrait">
                                <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=594,h=852,fit=crop,trim=0;175.95;0;0/A1aJePezkpfD2jEO/img_20230228_171313-1-A8546QwXeehZL7E7.jpg" alt="Service Icon" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <div class="single-service text-center mb-4">
                            <div class="service-icon h-potrait">
                                <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=590,h=852,fit=crop,trim=3.5787037037037037;0;17.89351851851852;0/A1aJePezkpfD2jEO/frame-7-1-dOq4Xn12vvSD8yXE.jpg" alt="Service Icon" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <div class="single-service text-center mb-4">
                            <div class="service-icon h-potrait">
                                <img src="images/porto/service-3.jpg" alt="Service Icon" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="padding-section" style="padding-top: 20px;">
            <div class="container-fluid institutional-slide">
                <div class="row justify-content-center ">
                    <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
                        <div class="section-title text-center mb-5">
                            <h2 class="medium-title mb-4">Corporate & Institutional Clients</h2>
                            <p class="description-section black-color">Dengan pengalaman yang luas, kami unggul dalam membangun kantor, apartemen, hotel, restoran, hingga proyek-proyek khusus lainnya untuk klien korporat dan institusi.</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="single-service text-center mb-4">
                            <div class="service-icon h-potrait">
                                <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=758,h=640,fit=crop,trim=0;33.9480198019802;0;33.9480198019802/A1aJePezkpfD2jEO/frame-5-AVLbDjKejzf58NOD.jpg" alt="Service Icon" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="single-service text-center mb-4">
                            <div class="service-icon h-potrait">
                                <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=758,h=640,fit=crop,trim=361.1881188118812;0;224.95049504950498;0/A1aJePezkpfD2jEO/whatsapp-image-2024-07-13-at-00.57.43-A1aJe59DV6tV50eO.jpeg" alt="Service Icon" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="single-service text-center mb-4">
                            <div class="service-icon h-potrait">
                                <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=758,h=640,fit=crop,trim=13.25153374233129;17.655172413793103;0;425.9310344827586/A1aJePezkpfD2jEO/whatsapp-image-2024-07-13-at-00.57.28_98e0c2b7-1-1-AoPGEgOPJ8CwaWPk.png" alt="Service Icon" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
    <Footer />
</Layout>
