---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/sections/Navbar.astro';
import Hero from '../components/sections/Hero.astro';
import Features from '../components/sections/Feature.astro';
import Process from '../components/sections/Process.astro';
import Pricing from '../components/sections/Pricing.astro';
import FAQ from '../components/sections/FAQ.astro';
import CTA from '../components/sections/CTA.astro';
import Footer from '../components/sections/Footer.astro';
import "../style/global.css";

---

<Layout title="Bikin Website | Jasa Pembuatan Website Profesional">
  <Navbar />
  <main>
    <Hero />
    <Features />
    <Process />
    <Pricing />
    <FAQ />
    <CTA />
  </main>
  <Footer />
</Layout>
