---
import Preloader from '../components/Preloader.astro';
import Layout from '../layouts/Layout.astro';
import "../style/global.css";
import Navbar from "../components/Navbar.astro";
import WorkingProcess from "./section/WorkingProcess.astro";
import About from './section/About.astro';
import Services from './section/Services.astro';
import Price from './section/Price.astro';
import CTA from './section/CTA.astro';
import Footer from './section/Footer.astro';

---

<Layout 
  title="Rinksite | Digital Service"
  seo_description="Rinksite adalah penyedia digital service yang bergerak dibidang pembuatan website"
  seo_domain="https://rinksite.com"
  seo_title="Rinksite - Digital Service"
  seo_image='https://i.imghippo.com/files/BUH9768T.png'
>
  <Preloader />
  <main>
    <Navbar />
    <WorkingProcess />
    <About />
    <Services />
    <Price />
    <CTA />
    <Footer />
  </main>
</Layout>
