---
import Preloader from '../components/Preloader.astro';
import Layout from '../layouts/Layout.astro';
import "../style/global.css";
import Navbar from "../components/Navbar.astro";
import UseNavbar from "../components/UseNavbar.astro";
import Footer from "../components/Footer.astro";

// import WorkingProcess from "./section/WorkingProcess.astro";
// import About from './section/About.astro';
// import Services from './section/Services.astro';
// import Price from './section/Price.astro';
// import CTA from './section/CTA.astro';
// import Footer from './section/Footer.astro';

---

<Layout 
  title="Arsicon | Arsicon Interior Design dan Kontraktor Syariah pertama di Indonesia"
  seo_description="Arsicon Interior Design dan Kontraktor Syariah pertama di Indonesia"
  seo_domain="https://arsicon.com"
  seo_title="Arsicon - Arsicon Interior Design dan Kontraktor Syariah pertama di Indonesia"
  seo_image="https://i.imghippo.com/files/OoZA1363FK.png"
  seo_keyword="arsicon, interior design, kontraktor syariah, arsicon interior design, arsicon kontraktor syariah"
>
  <!-- <Preloader /> -->

  <UseNavbar />

    <main>

        <section id="arsicon-interior-section" style="margin-top: 60px;">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-10 col-sm-12">
                        <div class="section-title text-center mb-5">
                            <h2 class="title-section black-color mb-4">Partnership Policy</h2>
                            <p class="description-section black-color mb-2" style="font-size: 18px;">Arsicon memberikan kesempatan bagi penyedia barang/jasa untuk menjadi Pelaku Usaha Terseleksi di dalam lingkungan. Penyedia barang dan jasa harus memenuhi persyaratan dan ketentuan yang berlaku di Arsicon untuk dapat menjadi pelaku usaha terseleksi.</p>
                            <p class="description-section black-color" style="font-size: 18px;">Calon penyedia barang/jasa yang akan mengajukan permintaan untuk menjadi rekanan terdaftar, diwajibkan membaca dan melengkapi form dengan format di bawah ini:                            </p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 surat">
                        <div class="text-box layout-element__component layout-element__component--GridTextBox" id="zAWq8S" data-v-5567603e="" style="--e4116cd0:break-spaces;--dc01974c:break-spaces;" data-qa="gridtextbox:zawq8s"><p class="body" style="margin-bottom: 16px" dir="auto"></p><p class="body" style="--lineHeightDesktop: 1.3; --fontSizeDesktop: 18px" dir="auto"><span style="font-weight: 700"><strong>SYARAT DAN KETENTUAN MENJADI MITRA KERJASAMA</strong></span></p><p class="body" style="--lineHeightDesktop: 1.3; --fontSizeDesktop: 18px" dir="auto"><span style="font-weight: 700"><strong>PT ARSICON NUANSA KREATIF</strong></span></p><p class="body" dir="auto"><span style="font-weight: 700"><strong>1. PENDAHULUAN</strong></span></p><p class="body" dir="auto">Syarat dan ketentuan ini mengatur hubungan kerjasama antara [Nama Perusahaan Anda] (selanjutnya disebut "Perusahaan") dan pihak ketiga yang ingin menjalin kemitraan dalam bidang kontraktor dan interior (selanjutnya disebut "Mitra"). Dengan mengajukan permohonan menjadi Mitra, pihak yang bersangkutan menyetujui syarat dan ketentuan ini</p><p class="body" dir="auto"><span style="font-weight: 700"><strong>2. KUALIFIKASI MITRA</strong></span></p><p class="body" dir="auto">Untuk diterima sebagai Mitra, pihak yang bersangkutan harus memenuhi kualifikasi berikut:</p><ul dir="auto"><li><p class="body" dir="auto">Pengalaman: Memiliki pengalaman minimal [X] tahun di bidang kontraktor dan interior.</p></li><li><p class="body" dir="auto"> Legalitas: Terdaftar secara sah sebagai badan hukum atau individu yang diakui secara hukum.</p></li><li><p class="body" dir="auto"> Reputasi: Tidak memiliki catatan buruk atau sengketa hukum yang signifikan.</p></li><li><p class="body" dir="auto"> Sertifikasi: Memiliki sertifikasi dan lisensi yang diperlukan untuk menjalankan pekerjaan kontraktor dan interior.</p></li><li><p class="body" dir="auto">Sumber Daya: Memiliki sumber daya manusia dan peralatan yang memadai untuk melaksanakan proyek sesuai standar.</p><p class="body" dir="auto"></p></li></ul><p class="body" dir="auto"><span style="font-weight: 700"><strong>3. PROSEDUR PENDAFTARAN</strong></span></p><ul dir="auto"><li><p class="body" dir="auto">Pengajuan: Pihak yang berminat harus mengisi formulir pendaftaran dan menyertakan dokumen pendukung, seperti salinan sertifikasi, lisensi, dan portofolio proyek sebelumnya.</p></li><li><p class="body" dir="auto">Evaluasi: Perusahaan akan melakukan evaluasi terhadap dokumen yang diajukan dan melakukan wawancara atau kunjungan lapangan jika diperlukan.</p></li><li><p class="body" dir="auto">Keputusan: Perusahaan akan memberikan keputusan akhir dalam waktu [X] minggu setelah evaluasi.</p></li></ul><p class="body" dir="auto"></p><p class="body" dir="auto"><span style="font-weight: 700"><strong>4. TANGGUNG JAWAB MITRA</strong></span></p><p class="body" dir="auto"> Pelaksanaan Proyek: Mitra wajib melaksanakan proyek sesuai dengan spesifikasi yang telah disepakati dan standar kualitas yang ditetapkan.</p><ul dir="auto"><li><p class="body" dir="auto">Jadwal: Mematuhi jadwal waktu pelaksanaan proyek yang telah disetujui</p></li><li><p class="body" dir="auto">Komunikasi: Menyediakan komunikasi yang jelas dan responsif terhadap pihak Perusahaan</p></li><li><p class="body" dir="auto">Keamanan dan Kesehatan: Mematuhi semua peraturan keselamatan dan kesehatan kerja yang berlaku.</p></li><li><p class="body" dir="auto">Aspek Hukum : Vendor dilarang memberikan hadiah, atau imbalan atau penyuapan dalam bentuk apapun yang menentang ketentuan hukum yang berlaku</p></li></ul><p class="body" dir="auto"></p><p class="body" dir="auto"><span style="font-weight: 700"><strong>5. HAK DAN KEWAJIBAN PERUSAHAAN</strong></span></p><ul dir="auto"><li><p class="body" dir="auto">Dukungan: Perusahaan akan memberikan dukungan teknis dan administratif yang diperlukan untuk keberhasilan proyek.</p></li><li><p class="body" dir="auto">Pembayaran: Menyediakan pembayaran sesuai dengan ketentuan yang disepakati dalam kontrak.</p></li><li><p class="body" dir="auto">Evaluasi Kinerja: Melakukan evaluasi berkala terhadap kinerja Mitra dan memberikan umpan balik.</p></li></ul><p class="body" dir="auto"></p><p class="body" dir="auto"><span style="font-weight: 700"><strong>6. KERAHASIAAN</strong></span></p><p class="body" dir="auto">Mitra setuju untuk menjaga kerahasiaan informasi yang diperoleh selama proses kerjasama dan tidak mengungkapkan informasi tersebut kepada pihak ketiga tanpa izin tertulis dari Perusahaan.</p><p class="body" dir="auto"><span style="font-weight: 700"><strong>7. PENGHENTIAN KERJASAMA</strong></span></p><ul dir="auto"><li><p class="body" dir="auto">Penghentian Sepihak: Perusahaan berhak menghentikan kerjasama jika Mitra melanggar syarat dan ketentuan yang telah disepakati atau gagal memenuhi standar kualitas.</p></li><li><p class="body" dir="auto">Penghentian Berdasarkan Kesepakatan: Kerjasama dapat dihentikan berdasarkan kesepakatan tertulis dari kedua belah pihak dengan pemberitahuan [X] hari sebelumnya.</p></li></ul><p class="body" dir="auto"></p><p class="body" dir="auto"><span style="font-weight: 700"><strong>8. PENYELESAIAN SENGKETA</strong></span></p><p class="body" dir="auto">Segala sengketa yang timbul dari kerjasama ini akan diselesaikan melalui musyawarah untuk mufakat. Jika tidak tercapai kesepakatan, sengketa akan diselesaikan melalui jalur hukum di [Nama Kota/Negara].</p><p class="body" dir="auto"><span style="font-weight: 700"><strong>9. PERUBAHAN SYARAT DAN KETENTUAN</strong></span></p><p class="body" dir="auto">Perusahaan berhak melakukan perubahan terhadap syarat dan ketentuan ini dengan pemberitahuan terlebih dahulu kepada Mitra.</p><p class="body" dir="auto"><strong>10. CONTOH FORM PENGAJUAN MITRA</strong></p><p class="body" dir="auto">Dengan menandatangani dokumen ini, Mitra menyatakan telah membaca, memahami, dan menyetujui semua syarat dan ketentuan yang berlaku.</p><p class="body" dir="auto">[Nama Perusahaan Anda]</p><p class="body" dir="auto">Alamat: [Alamat Perusahaan]</p><p class="body" dir="auto">Kontak: [Nomor Telepon, Email]</p><p class="body" dir="auto">Tanggal: [Tanggall]<br></p><p class="body" dir="auto">Mitra:</p><p class="body" dir="auto">Nama: [Nama Lengkap]</p><p class="body" dir="auto">Alamat:[Alamat Mitra]</p><p class="body" dir="auto">Kontak: [Nomor Telepon, Email]</p><p class="body" dir="auto">Tanggal:[Tanggal]</p><p class="body" dir="auto"><br></p><p class="body" dir="auto">Tanda Tangan Perusahaan:</p><p class="body" dir="auto">__________________________</p><p class="body" dir="auto">Nama: [Nama Pihak yang Berwenang]</p><p class="body" dir="auto">Jabatan: [Jabatan]</p><p class="body" dir="auto"><br></p><p class="body" dir="auto">Tanda Tangan Mitra:</p><p class="body" dir="auto">__________________________</p><p class="body" dir="auto">Nama: [Nama Pihak Mitra]</p><p class="body" dir="auto">Jabatan: [Jabatan]</p><p class="body" dir="auto">11. TATA CARA PENDAFTARAN MITRA</p><p class="body" dir="auto">Email Ke Alamat email :</p><p class="body" dir="auto">Company profile</p><p class="body" dir="auto">Portofolio / Pengalaman</p><p class="body" dir="auto">Form pengajuan menjadi mitra arsicon</p><p class="body" dir="auto"></p></div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <Footer />
</Layout>
