---
import Preloader from '../components/Preloader.astro';
import Layout from '../layouts/Layout.astro';
import "../style/global.css";
import Navbar from "../components/Navbar.astro";
import UseNavbar from "../components/UseNavbar.astro";
import Footer from "../components/Footer.astro";

// import WorkingProcess from "./section/WorkingProcess.astro";
// import About from './section/About.astro';
// import Services from './section/Services.astro';
// import Price from './section/Price.astro';
// import CTA from './section/CTA.astro';
// import Footer from './section/Footer.astro';

---

<Layout 
title="Arsicon | Arsicon Interior dan Kontraktor Syariah pertama di Indonesia"
seo_description="Arsicon Interior dan Kontraktor Syariah pertama di Indonesia"
seo_domain="https://arsicon.com"
seo_title="Arsicon - Arsicon Interior dan Kontraktor Syariah pertama di Indonesia"
seo_image="https://i.imghippo.com/files/qBH9602QNg.png"
seo_keyword="arsicon, interior design, kontraktor syariah, interior syariah, kontraktor syariah indonesia, arsicon interior, arsicon kontraktor syariah"
>
  <!-- <Preloader /> -->

  <UseNavbar />

    <main>

        <section id="arsicon-portfolio" style="margin-top: 60px; margin-bottom: 50px;">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-10 col-sm-12">
                        <div class="section-title text-center mb-5">
                            <h2 class="title-section black-color">Corporate & Institutional Projects</h2>
                            <!-- <p class="description-section black-color">Our team is dedicated to providing solutions that fit your needs and make your life easier. Discover how we can support you and make your goals a reality.</p> -->
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center mb-4">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="image-portfolio">
                            <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1212,h=720,fit=crop,trim=522.7722772277228;0;364.3564356435644;0/A1aJePezkpfD2jEO/whatsapp-image-2024-07-13-at-00.57.42-YrDNLG20VoiQVO3M.jpeg" alt="arsicon interior design" class="img-fluid" />
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="image-portfolio">
                            <img src="images/porto/service-3.jpg" alt="arsicon interior design" class="img-fluid" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="image-portfolio">
                            <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1182,h=702,fit=crop/A1aJePezkpfD2jEO/whatsapp-image-2024-07-13-at-01.12.58-1-AMq428WvMRhgw8xo.jpeg" alt="arsicon interior design" class="img-fluid" />
                        </div>
                    </div><div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="image-portfolio">
                            <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=594,h=720,fit=crop,trim=169.9475982532751;0;117.20524017467248;0/A1aJePezkpfD2jEO/frame-9-1-AVLbDg0pJ1uJRynr.png" alt="arsicon interior design" class="img-fluid" />
                        </div>
                    </div><div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="image-portfolio">
                            <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=594,h=720,fit=crop,trim=296.72727272727275;0;0;0/A1aJePezkpfD2jEO/img_20230102_115840-Aq2o0KyLJ1iLV9WM.jpg" alt="arsicon interior design" class="img-fluid" />
                        </div>
                    </div><div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="image-portfolio">
                            <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=594,h=720,fit=crop,trim=0;0;0;1244.3999999999999/A1aJePezkpfD2jEO/img_20240716_114426-Aq2o0K1v9eCq0XXV.jpg" alt="arsicon interior design" class="img-fluid" />
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="arsicon-portfolio" style="margin-top: 60px; margin-bottom: 50px;">
            <div class="container-fluid">
                <div class="row justify-content-center mb-5">
                    <div class="col-lg-8 col-md-10 col-sm-12">
                        <div class="section-title text-center mb-5">
                            <h2 class="title-section black-color">Residential Projects</h2>
                            <!-- <p class="description-section black-color">Our team is dedicated to providing solutions that fit your needs and make your life easier. Discover how we can support you and make your goals a reality.</p> -->
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-8 col-md-6 col-sm-12">
                        <div class="image-portfolio mb-3">
                            <img src="images/porto/porto-3.jpg" alt="arsicon interior design" class="img-fluid" />
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="image-portfolio mb-3">
                            <img src="images/porto/porto-9.jpg" alt="arsicon interior design" class="img-fluid" />
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="image-portfolio">
                            <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=800,h=864,fit=crop/A1aJePezkpfD2jEO/img_20230228_171313-YNqrXgNwrZupBPRg.jpg" alt="arsicon interior design" class="img-fluid" />
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-6 col-sm-12">
                        <div class="image-portfolio">
                            <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1624,h=864,fit=crop,trim=30.695842450765863;0;24.11816192560175;0/A1aJePezkpfD2jEO/belakang-r04-1-YZ9bngQ2JBiXp4Ll.png" alt="arsicon interior design" class="img-fluid" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <Footer />
</Layout>
