<footer class="footer-area">
    <div class="container-fluid pb-12">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="footer-logo">
                    <a href="/index">
                        <img src="https://media-hosting.imagekit.io/74888a7f345145f0/Main Logo.png?Expires=1840175089&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=f2k4cxNUvKOaIqEGngJiRpMfOR9ylq4FzyeSXZkUlDOy1N4y7FR3F-hvzNV0bXWYavdm-~TeM2tEusBRVeutSZImqxiF27b5LqHrt~7aky~lP-ZIVEh6cccg6VYe~EQxbBbG5RFsanJxNWFO93ZB1-Wthuf8FAjniGKr2tAu5Lfj2ToQyZ6Cv6tG6WdGwJ~tOhrYFQBooQa2KT4VHne6otANUYkAknuMDZ~eWvuX6RvrpuL6AxY8mEoEdp3R4dOhKujBpB5npP6rTrqIDcCnr~MZBsj-GMPDPh-8qO62k5~zd4nXaFfj1DhUQ~R3SRLka-hwW3jm9tXvzcFNih16OA__" alt="Logo" class="logo-footer" />
                    </a>
                </div>
                <p class="description-footer white-color mb-4">Arsicon Interior dan Kontraktor Syariah pertama di Indonesia</p>
                <a href="https://wa.me/6285777333305?text=Halo%20Arsicon%2C%20saya%20mau%20diskusi%20tentang%20interior%20rumah%20saya." class="btn btn-primary btn-footer">Download Theme</a>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="footer-widget">
                            <h4 class="white-color">Brands</h4>
                            <ul class="footer-list">
                                <li><a href="/arsicon-contractor-syariah">Arsicon Contractor Syariah</a></li>
                                <li><a href="/arsicon-interior">Arsicon Interior</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="footer-widget">
                            <h4 class="white-color">Information</h4>
                            <ul class="footer-list">
                                <li><a href="/about">About</a></li>
                                <li><a href="/portfolio">Portfolio</a></li>
                                <li><a href="/partnership">Partnership</a></li>
                                <li><a href="/contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="footer-widget">
                            <h4 class="white-color">Other Page</h4>
                            <ul class="footer-list">
                                <li><a href="#">Interior Design</a></li>
                                <li><a href="#">Architecture</a></li>
                                <li><a href="#">Construction</a></li>
                                <li><a href="#">Project Management</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="bottom-footer w-full mt-6">
        <div class="container-fluid">
            <div class="flex justify-center align-center text-center w-full">
                <p class="white-color">© 2023 Arsicon. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
