<footer class="footer-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="footer-logo">
                    <a href="/index">
                        <img src="https://i.imghippo.com/files/HF9161wmw.png" alt="Logo" class="logo-footer" />
                    </a>
                </div>
                <p class="description-footer white-color mb-4">Arsicon is a digital service provider specializing in website development.</p>
                <a href="" class="btn btn-primary btn-footer">Download Theme</a>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="footer-widget">
                            <h4 class="white-color">Information</h4>
                            <ul class="footer-list">
                                <li><a href="#">Interior Design</a></li>
                                <li><a href="#">Architecture</a></li>
                                <li><a href="#">Construction</a></li>
                                <li><a href="#">Project Management</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="footer-widget">
                            <h4 class="white-color">Services</h4>
                            <ul class="footer-list">
                                <li><a href="#">Other Page</a></li>
                                <li><a href="#">Architecture</a></li>
                                <li><a href="#">Construction</a></li>
                                <li><a href="#">Project Management</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="footer-widget">
                            <h4 class="white-color">Other Page</h4>
                            <ul class="footer-list">
                                <li><a href="#">Interior Design</a></li>
                                <li><a href="#">Architecture</a></li>
                                <li><a href="#">Construction</a></li>
                                <li><a href="#">Project Management</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="bottom-footer w-full mt-6">
        <div class="container-fluid">
            <div class="flex justify-center align-center text-center w-full">
                <p class="white-color">© 2023 Arsicon. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
