<footer class="template-footer">
    <div class="container">
        <div class="footer-widgets-area">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="widget contact-widget">
                        <h4 class="widget-title">Contact Us</h4>
                        <div class="contact-content">
                            <div class="phone-number">
                                <span>Phone Number</span>
                                <a href="tel:+01234567899">
                                    <i class="far fa-phone"></i>
                                    +012 (345) 678 99
                                </a>
                            </div>
                            <p>
                                55 Queensberry Street, North VIC <br> 3051, Australia. <br>
                                <a href="mailto:support@Tilkeinfo.com">support@Tilkeinfo.com</a>
                            </p>
                            <img src="assets/img/logo.png" alt="Tilke">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget nav-widget pl-lg-4">
                        <h4 class="widget-title">Quick Link</h4>
                        <ul>
                            <li><a href="#">SEO Optimization</a></li>
                            <li><a href="#">Digital Marketing</a></li>
                            <li><a href="#">IT Consulting</a></li>
                            <li><a href="#">Product Design</a></li>
                            <li><a href="#">Web Development</a></li>
                            <li><a href="#">Email Marketing</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="widget nav-widget">
                        <h4 class="widget-title">Support</h4>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Privacy & Policy</a></li>
                            <li><a href="#">Need a Career?</a></li>
                            <li><a href="#">Online Support</a></li>
                            <li><a href="#">Faqs</a></li>
                            <li><a href="#">Team Member</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="widget newsletters-widget pl-xl-4">
                        <h4 class="widget-title">Newsletters</h4>
                        <p>
                            Dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt
                        </p>
                        <div class="newsletter-form">
                            <form action="#">
                                <input type="email" placeholder="Email Address">
                                <button type="submit">Sign Up <i class="far fa-long-arrow-right"></i></button>
                            </form>
                        </div>
                        <ul class="social-links">
                            <li><span>Follow</span></li>
                            <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                            <li><a href="#"><i class="fab fa-behance-square"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-box">
            Copyright @2021 <a href="#">Tilke</a> All Right Reserve
        </div>
    </div>
</footer>