<section class="case-section bg-color-off-white section-gap overflow-hidden">
    <div class="container">
        <div class="section-heading text-center mb-30">
            <h2 class="title">Services We Offer For Agency</h2>
            <span class="tagline">Best SEO Optimization Agency</span>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-items-one mt-30">
                    <div class="portfolio-thumb">
                        <img src="assets/img/portfolio/01.jpg" alt="Image">
                    </div>
                    <div class="portfolio-content">
                        <div class="categories">
                            <a href="#">Marketing Strategy</a>
                        </div>
                        <h4 class="title"><a href="#">SEO Marketing Ideas</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-items-one mt-30">
                    <div class="portfolio-thumb">
                        <img src="assets/img/portfolio/02.jpg" alt="Image">
                    </div>
                    <div class="portfolio-content">
                        <div class="categories">
                            <a href="#">Business Planning</a>
                        </div>
                        <h4 class="title"><a href="#">Strategy For Business</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-items-one mt-30">
                    <div class="portfolio-thumb">
                        <img src="assets/img/portfolio/03.jpg" alt="Image">
                    </div>
                    <div class="portfolio-content">
                        <div class="categories">
                            <a href="#">Marketing Strategy</a>
                        </div>
                        <h4 class="title"><a href="#">Social Media Marketing</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-items-one mt-30">
                    <div class="portfolio-thumb">
                        <img src="assets/img/portfolio/04.jpg" alt="Image">
                    </div>
                    <div class="portfolio-content">
                        <div class="categories">
                            <a href="#">SEO Optimizations</a>
                        </div>
                        <h4 class="title"><a href="#">Products Engineering</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-items-one mt-30">
                    <div class="portfolio-thumb">
                        <img src="assets/img/portfolio/24.jpg" alt="Image">
                    </div>
                    <div class="portfolio-content">
                        <div class="categories">
                            <a href="#">SEO Optimizations</a>
                        </div>
                        <h4 class="title"><a href="#">Best Market Analysis</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-items-one mt-30">
                    <div class="portfolio-thumb">
                        <img src="assets/img/portfolio/25.jpg" alt="Image">
                    </div>
                    <div class="portfolio-content">
                        <div class="categories">
                            <a href="#">SEO Optimizations</a>
                        </div>
                        <h4 class="title"><a href="#">Website Application</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== Case Section End ======-->

<!--====== Pricing Section Start ======-->
<section class="pricing-section pricing-section-line section-gap pricing-blur-bg">
    <div class="container">
        <div class="section-heading text-center mb-50">
            <h2 class="title">Best Pricing For Business</h2>
            <span class="tagline">Best SEO Optimization Agency</span>
        </div>
        <div class="tab-content" id="pricingTabContent">
            <div class="tab-pane fade show active" id="monthly" role="tabpanel">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-4 col-md-6 col-sm-10">
                        <div class="pricing-table mt-40">
                            <h4 class="plan-name">Basic Plan</h4>
                            <p>
                                Amet consectetu adipiscing elit sedie eiusmod tempor incidie labore
                            </p>
                            <div class="plan-price">
                                <span class="currency">$</span>
                                <span class="price">19.57</span>
                            </div>
                            <a href="#" class="template-btn bordered-btn">
                                Choose Package <i class="far fa-long-arrow-right"></i>
                            </a>
                            <p>
                                Quis autem vel eumcur reprehenderit ea voluptate velit esse quam
                            </p>
                            <ul class="feature-list">
                                <li><i class="far fa-check"></i> 15 Days Money Back Guarantee</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-10">
                        <div class="pricing-table featured-plan mt-40">
                            <h4 class="plan-name">Standard Plan</h4>
                            <p>
                                Amet consectetu adipiscing elit sedie eiusmod tempor incidie labore
                            </p>
                            <div class="plan-price">
                                <span class="currency">$</span>
                                <span class="price">39.86</span>
                            </div>
                            <a href="#" class="template-btn bordered-btn">
                                Choose Package <i class="far fa-long-arrow-right"></i>
                            </a>
                            <p>
                                Quis autem vel eumcur reprehenderit ea voluptate velit esse quam
                            </p>
                            <ul class="feature-list">
                                <li><i class="far fa-check"></i> 15 Days Money Back Guarantee</li>
                                <li class="disabled"><i class="far fa-check"></i> 6 Months Support & Update</li>
                            </ul>

                            <span class="featured-label">
                                Popular
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-10">
                        <div class="pricing-table mt-40">
                            <h4 class="plan-name">Premium Plan</h4>
                            <p>
                                Amet consectetu adipiscing elit sedie eiusmod tempor incidie labore
                            </p>
                            <div class="plan-price">
                                <span class="currency">$</span>
                                <span class="price">59.57</span>
                            </div>
                            <a href="#" class="template-btn bordered-btn">
                                Choose Package <i class="far fa-long-arrow-right"></i>
                            </a>
                            <p>
                                Quis autem vel eumcur reprehenderit ea voluptate velit esse quam
                            </p>
                            <ul class="feature-list">
                                <li><i class="far fa-check"></i> 15 Days Money Back Guarantee</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="yearly" role="tabpanel">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-4 col-md-6 col-sm-10">
                        <div class="pricing-table mt-40">
                            <h4 class="plan-name">Basic Plan</h4>
                            <p>
                                Amet consectetu adipiscing elit sedie eiusmod tempor incidie labore
                            </p>
                            <div class="plan-price">
                                <span class="currency">$</span>
                                <span class="price">29.57</span>
                            </div>
                            <a href="#" class="template-btn bordered-btn">
                                Choose Package <i class="far fa-long-arrow-right"></i>
                            </a>
                            <p>
                                Quis autem vel eumcur reprehenderit ea voluptate velit esse quam
                            </p>
                            <ul class="feature-list">
                                <li><i class="far fa-check"></i> 15 Days Money Back Guarantee</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-10">
                        <div class="pricing-table featured-plan mt-40">
                            <h4 class="plan-name">Standard Plan</h4>
                            <p>
                                Amet consectetu adipiscing elit sedie eiusmod tempor incidie labore
                            </p>
                            <div class="plan-price">
                                <span class="currency">$</span>
                                <span class="price">49.86</span>
                            </div>
                            <a href="#" class="template-btn bordered-btn">
                                Choose Package <i class="far fa-long-arrow-right"></i>
                            </a>
                            <p>
                                Quis autem vel eumcur reprehenderit ea voluptate velit esse quam
                            </p>
                            <ul class="feature-list">
                                <li><i class="far fa-check"></i> 15 Days Money Back Guarantee</li>
                                <li class="disabled"><i class="far fa-check"></i> 6 Months Support & Update</li>
                            </ul>

                            <span class="featured-label">
                                Popular
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-10">
                        <div class="pricing-table mt-40">
                            <h4 class="plan-name">Premium Plan</h4>
                            <p>
                                Amet consectetu adipiscing elit sedie eiusmod tempor incidie labore
                            </p>
                            <div class="plan-price">
                                <span class="currency">$</span>
                                <span class="price">99.57</span>
                            </div>
                            <a href="#" class="template-btn bordered-btn">
                                Choose Package <i class="far fa-long-arrow-right"></i>
                            </a>
                            <p>
                                Quis autem vel eumcur reprehenderit ea voluptate velit esse quam
                            </p>
                            <ul class="feature-list">
                                <li><i class="far fa-check"></i> 15 Days Money Back Guarantee</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>